body{
    background-color: #eff3f7;
}
.App{
    padding : 60px;
    display : flex;
    flex-wrap : wrap;
    justify-content: space-around;
}
.Loading--App{
    display: flex;
    height : 100vh;
    justify-content: center;
    align-items: center;
}